/ {
	compatible = "altr,socfpga-arria10", "altr,socfpga";

	aliases {
		serial0 = &uart1;
		spi0 = &qspi;
		i2c0 = &i2c1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&osc1 {
	clock-frequency = <33330000>;
};

&l4_main_clk {
	u-boot,dm-pre-reloc;
};

&qspi_clk {
	u-boot,dm-pre-reloc;
};

&main_sdmmc_clk {
	u-boot,dm-pre-reloc;
};

&sdmmc_clk {
	u-boot,dm-pre-reloc;
};

&sdmmc_free_clk {
	u-boot,dm-pre-reloc;
};

&peri_sdmmc_clk {
	u-boot,dm-pre-reloc;
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&i2c1 {
	/* Max value set according to HW spec */
	i2c-scl-falling-time-ns = <300>;
	status = "okay";

	clock-frequency = <100000>;

	atsha204a: atsha204a@64 {
		status = "okay";
		compatible = "atmel,atsha204a";
		reg = <0x64>;
	};
};

&mmc {
	u-boot,dm-pre-reloc;
	status = "okay";
	cap-sd-highspeed;
	broken-cd;
	bus-width = <4>;
};

&eccmgr {
	sdmmca-ecc@ff8c2c00 {
		compatible = "altr,socfpga-sdmmc-ecc";
		reg = <0xff8c2c00 0x400>;
		altr,ecc-parent = <&mmc>;
		interrupts = <15 IRQ_TYPE_LEVEL_HIGH>,
			     <47 IRQ_TYPE_LEVEL_HIGH>,
			     <16 IRQ_TYPE_LEVEL_HIGH>,
			     <48 IRQ_TYPE_LEVEL_HIGH>;
	};
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";

	flash0: s25fl512s@0 {
		u-boot,dm-pre-reloc;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spansion,s25fl512s", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <25000000>;

		page-size = <256>;
		block-size = <16>; /* 2^16, 64KB */
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,tshsl-ns = <200>;
		cdns,tsd2d-ns = <255>;
		cdns,tchsh-ns = <20>;
		cdns,tslch-ns = <20>;
	};
};

&watchdog1 {
	u-boot,dm-pre-reloc;
	status = "disabled";
};

&gmac0 {
	status = "okay";
	/delete-property/ mac-address;
	phy-mode = "rgmii";
	phy-addr = <3>;
	phy-handle = <&phy3>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		phy3: ethernet-phy@3 {
			reg = <3>;
			rxd0-skew-ps = <420>;
			rxd1-skew-ps = <420>;
			rxd2-skew-ps = <420>;
			rxd3-skew-ps = <420>;
			rxdv-skew-ps = <420>;

			txd0-skew-ps = <420>;
			txd1-skew-ps = <420>;
			txd2-skew-ps = <420>;
			txd3-skew-ps = <420>;
			txen-skew-ps = <420>;

			rxc-skew-ps = <1680>;
			txc-skew-ps = <900>;
		};
	};
};

