/ {
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		ethernet0 = &gmac1;
	};

	i2c_encl: i2c0 {
		i2c-sda-hold-time-ns = <300>;
		clock-frequency = <100000>;
		status = "okay";

		isl12020: isl12020@6f {
			status = "okay";
			compatible = "isil,isl12022";
			reg = <0x6f>;
		};

		atsha204a: atsha204a@64 {
			status = "okay";
			compatible = "atmel,atsha204a";
			reg = <0x64>;
		};
	};
};

&osc1 {
	clock-frequency = <50000000>;
};

&uart0 {
	clock-frequency = <100000000>;
};

&mmc0 {
	status = "okay";
};

&qspi {
	status = "okay";

	flash0: s25fl512s@0 {
		u-boot,dm-pre-reloc;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spansion,s25fl512s", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;

		cdns,page-size = <256>;
		cdns,block-size = <16>; /* 2^16, 64KB */
		cdns,read-delay = <4>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partition@raw {
			label = "Flash Raw";
			reg = <0x0 0x4000000>;
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gmac1 {
	status = "okay";
	/delete-property/ mac-address;
	phy-mode = "rgmii";
	phy-handle = <&phy3>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		phy3: ethernet-phy@3 {
			reg = <3>;

			/* Add 2ns RX clock delay (1.2ns + 0.78ns)*/
			rxc-skew-ps = <1680>;
			rxd0-skew-ps = <420>;
			rxd1-skew-ps = <420>;
			rxd2-skew-ps = <420>;
			rxd3-skew-ps = <420>;
			rxdv-skew-ps = <420>;

			/* Add 1.38ns TX clock delay (0.96ns + 0.42ns)*/
			txc-skew-ps = <1860>;
			txd0-skew-ps = <0>;
			txd1-skew-ps = <0>;
			txd2-skew-ps = <0>;
			txd3-skew-ps = <0>;
			txen-skew-ps = <0>;
		};
	};
};

&usb1 {
	status = "okay";
	dr_mode = "host";
};
