#include "socfpga_cyclone5.dtsi"

/ {
	model = "Mercury+ SA2";
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x80000000>; /* 2GB */
	};
};

&osc1 {
	clock-frequency = <50000000>;
};

&qspi {
	status = "okay";
	reset-names = "qspi";

	flash0: s25fl512s@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spansion,s25fl512s", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <12500000>;
		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <4>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partition@qspi-boot {
			label = "Flash 0 Raw Data";
			reg = <0x0 0x4000000>;
		};
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	atsha204a: atsha204a@64 {
		status = "okay";
		compatible = "atmel,atsha204a";
		reg = <0x64>;
	};
};

&mmc0 {
	status = "okay";
};

